APP_NAME="HomeOrganizer"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://local.homeorganizer.xyz

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=rds
DB_PORT=3306
DB_DATABASE=homeorganizerdb
DB_USERNAME=homeorganizerdb_user
DB_PASSWORD=homeorganizerDbPassword

PG_DB_DATABASE=homeorganizerdb_pg
PG_DB_USERNAME=homeorganizerdb_pg_user
PG_DB_PASSWORD=homeorganizerDbPgPassword

CHAT_DB_CONNECTION=pgsql
CHAT_DB_HOST=postgres
CHAT_DB_PORT=5432
CHAT_DB_DATABASE=${PG_DB_DATABASE}
CHAT_DB_USERNAME=${PG_DB_USERNAME}
CHAT_DB_PASSWORD=${PG_DB_PASSWORD}

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=redis
CACHE_PREFIX=homeorganizer_

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

REVERB_APP_ID=282383
REVERB_APP_KEY=iu0j23rs9omml5l1w1ai
REVERB_APP_SECRET=jjdmrxit6pr4vozbvye
REVERB_HOST=local.homeorganizer.xyz
REVERB_PORT=6001
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

USER_DEFAULT_PASSWORD="pass1234"

CONTACT_RECAPTCHA_SITE_KEY=""
CONTACT_RECAPTCHA_MIN_SCORE=0.5

GOOGLE_CLOUD_API_KEY=""
