@theme {
    --screen-xs: 22.5rem;  // 360px
    --screen-sm: 40rem;    // 640px
    --screen-md: 48rem;    // 768px
    --screen-lg: 64rem;    // 1024px
    --screen-xl: 80rem;    // 1280px
    --screen-2xl: 96rem;   // 1536px
    --screen-3xl: 120rem;  // 1920px
    --screen-4xl: 160rem;  // 2560px
    --screen-5xl: 240rem;  // 3840px
}
