@theme {
    --font-weight-h1-xs: 800;
    --font-weight-h1-md: 800;
    --font-weight-h1-lg: 700;
    --font-weight-h1-xl: 700;
    --font-weight-h1-3xl: 700;
    --font-weight-h1-4xl: 700;

    --font-weight-h2-xs: 700;
    --font-weight-h2-md: 700;
    --font-weight-h2-lg: 700;
    --font-weight-h2-xl: 700;
    --font-weight-h2-3xl: 700;
    --font-weight-h2-4xl: 600;

    --font-weight-h3-xs: 700;
    --font-weight-h3-md: 700;
    --font-weight-h3-lg: 600;
    --font-weight-h3-xl: 600;
    --font-weight-h3-3xl: 600;
    --font-weight-h3-4xl: 600;

    --font-weight-h4-xs: 600;
    --font-weight-h4-md: 600;
    --font-weight-h4-lg: 600;
    --font-weight-h4-xl: 600;
    --font-weight-h4-3xl: 600;
    --font-weight-h4-4xl: 500;

    --font-weight-h5-xs: 600;
    --font-weight-h5-md: 600;
    --font-weight-h5-lg: 500;
    --font-weight-h5-xl: 500;
    --font-weight-h5-3xl: 500;
    --font-weight-h5-4xl: 500;

    --font-weight-h6-xs: 600;
    --font-weight-h6-md: 500;
    --font-weight-h6-lg: 500;
    --font-weight-h6-xl: 500;
    --font-weight-h6-3xl: 500;
    --font-weight-h6-4xl: 500;
}
