@theme {
    /* Line Heights */
    --leading-h1-xs: 1.2;
    --leading-h1-md: 1.15;
    --leading-h1-lg: 1.1;
    --leading-h1-xl: 1.05;
    --leading-h1-3xl: 1.05;
    --leading-h1-4xl: 1;

    --leading-h2-xs: 1.25;
    --leading-h2-md: 1.2;
    --leading-h2-lg: 1.15;
    --leading-h2-xl: 1.1;
    --leading-h2-3xl: 1.05;
    --leading-h2-4xl: 1.05;

    --leading-h3-xs: 1.35;
    --leading-h3-md: 1.3;
    --leading-h3-lg: 1.25;
    --leading-h3-xl: 1.2;
    --leading-h3-3xl: 1.15;
    --leading-h3-4xl: 1.1;

    --leading-h4-xs: 1.4;
    --leading-h4-md: 1.35;
    --leading-h4-lg: 1.3;
    --leading-h4-xl: 1.25;
    --leading-h4-3xl: 1.2;
    --leading-h4-4xl: 1.15;

    --leading-h5-xs: 1.5;
    --leading-h5-md: 1.4;
    --leading-h5-lg: 1.35;
    --leading-h5-xl: 1.3;
    --leading-h5-3xl: 1.25;
    --leading-h5-4xl: 1.2;

    --leading-h6-xs: 1.5;
    --leading-h6-md: 1.45;
    --leading-h6-lg: 1.4;
    --leading-h6-xl: 1.35;
    --leading-h6-3xl: 1.3;
    --leading-h6-4xl: 1.25;

    --leading-body-xs: 1.6;
    --leading-body-md: 1.5;
    --leading-body-lg: 1.5;
    --leading-body-xl: 1.45;
    --leading-body-3xl: 1.4;
    --leading-body-4xl: 1.375;

    --leading-body-large-xs: 1.55;
    --leading-body-large-md: 1.5;
    --leading-body-large-lg: 1.45;
    --leading-body-large-xl: 1.4;
    --leading-body-large-3xl: 1.35;
    --leading-body-large-4xl: 1.35;

    --leading-body-small-xs: 1.6;
    --leading-body-small-md: 1.5;
    --leading-body-small-lg: 1.5;
    --leading-body-small-xl: 1.45;
    --leading-body-small-3xl: 1.4;
    --leading-body-small-4xl: 1.4;

    --leading-small-xs: 1.5;
    --leading-small-md: 1.5;
    --leading-small-lg: 1.45;
    --leading-small-xl: 1.4;
    --leading-small-3xl: 1.4;
    --leading-small-4xl: 1.35;

    --leading-footer-xs: 1.5;
    --leading-footer-md: 1.4;
    --leading-footer-lg: 1.4;
    --leading-footer-xl: 1.4;
    --leading-footer-3xl: 1.35;
    --leading-footer-4xl: 1.35;
}
